@use "../util/" as u;
html {
	scroll-behavior: smooth;
}
.charities {
	display: flex;
	flex-direction: column;
	&__2022,
	&__2021,
	&__2020,
	&__2019,
	&__2018,
	&__2017,
	&__2016,
	&__2015,
	&__2014,
	&__2013,
	&__2012 {
		display: flex;
		margin-inline: auto;
		width: 95%;
		padding: u.rem(15) 0 u.rem(15);
		border-bottom: 5px solid var(--purple);
		h3 {
			align-self: center;
			margin: 0;
			padding: 0 u.rem(30);
			margin-right: u.rem(30);
			font-weight: 600;
			font-size: u.rem(64);
			line-height: 77px;
			border-right: 3px solid black;
			color: var(--purple);
		}
		&__items {
			width: 100%;
			.meeting {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
				border-bottom: 2px solid lightgray;
				.chosen {
					display: grid;
					grid-column: 1 / 3;
					grid-template-columns: 1fr;
					background-color: var(--light-purple);
					&__title {
						h4 {
							text-align: center;
						}
					}
					&__charity {
						display: flex;
						flex-direction: column;
						justify-content: center;
						a {
							p {
								text-align: center;
								flex: 1;
								font-weight: 700;
								font-size: u.rem(16);
								color: white;
							}
							p:hover {
								cursor: pointer;
							}
						}
						p:nth-child(2) {
							flex: 1;
							align-self: center;
							width: 90%;
							text-align: center;
							font-weight: 500;
							font-size: u.rem(16);
							color: black;
						}
					}
				}
				.other {
					display: grid;
					grid-column: 3 / 6;
					grid-template-columns: 1fr;
					&__title {
						h4 {
							text-align: center;
						}
					}
					&__charity {
						display: flex;
						flex-direction: row;
						justify-content: space-around;
						a {
							p {
								flex: 1;
								text-align: center;
								font-weight: 500;
								font-size: u.rem(16);
								color: black;
								span {
									font-weight: 700;
									color: var(--purple);
								}
							}
							p:hover {
								cursor: pointer;
							}
						}
					}
				}
			}
		}
	}

	&__2012 {
		border-bottom: none;
	}
}
.return {
	display: flex;
	justify-content: center;
	margin-bottom: u.rem(20);
	a {
		button {
			margin-inline: auto;
			padding: u.rem(10) u.rem(30);
			margin-top: u.rem(15);
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			background-color: var(--purple);
			border: none;
			border-radius: 5px;
			box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
			color: #ffffff;
			cursor: pointer;
		}
	}
}
