@use "../util/" as u;
.header {
	.contactButtons {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		button,
		p {
			margin: u.rem(10) 0;
		}
		button {
			padding: u.rem(10);
			font-weight: 600;
			font-size: u.rem(15);
			border-radius: 0.25em;
			background-color: #ffffff;
			color: var(--purple);
			border: none;
			cursor: pointer;
			@include u.breakpoint(medium) {
				font-size: u.rem(20);
			}
			@include u.breakpoint(large) {
				font-size: u.rem(20);
			}
		}
	}
}
.contactInfo {
	display: flex;
	flex-direction: column;
	@include u.breakpoint(medium) {
		flex-direction: column;
	}
	@include u.breakpoint(xlarge) {
		flex-direction: row;
	}

	&__text {
		flex: 1;
		padding-inline: u.rem(30);
		background-color: var(--purple);
		@include u.breakpoint(medium) {
			padding-inline: u.rem(60);
		}
		@include u.breakpoint(large) {
			padding-inline: u.rem(60);
		}
		@include u.breakpoint(xlarge) {
			padding-inline: u.rem(120);
		}
		p {
			font-weight: 500;
			font-size: clamp(u.rem(14), u.rem(14) + 2vw, u.rem(24));
			line-height: u.rem(28);
			color: #ffffff;
			@include u.breakpoint(large) {
				line-height: u.rem(39);
			}
		}
	}
	&__social {
		flex: 0.6;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: u.rem(10) u.rem(30);
		margin-inline: auto;
		@include u.breakpoint(medium) {
			padding: u.rem(10) u.rem(70);
			margin-inline: auto;
			flex-direction: row;
		}
		@include u.breakpoint(large) {
			padding: u.rem(10) u.rem(150);
			flex-direction: row;
		}
		@include u.breakpoint(xlarge) {
			padding: u.rem(10) u.rem(120);
			flex-direction: column;
		}
		p {
			font-weight: 500;
			font-size: clamp(u.rem(14), u.rem(5) + 2vw, u.rem(24));
			line-height: u.rem(16);
			@include u.breakpoint(large) {
				line-height: u.rem(39);
			}
		}
		&__LinkedIn,
		&__Twitter {
			a {
				display: flex;
				flex-direction: row;
				align-items: center;
				picture {
					flex-basis: 60px;
					padding-right: u.rem(0);
					@include u.breakpoint(medium) {
						flex-basis: 90px;
						padding-right: u.rem(30);
					}
					@include u.breakpoint(xlarge) {
						flex-basis: 120px;
					}
					img {
						width: 50%;
						@include u.breakpoint(medium) {
							width: 100%;
						}
						@include u.breakpoint(large) {
							width: 100%;
						}
						@include u.breakpoint(xlarge) {
							width: 100%;
						}
					}
				}
				p {
					margin: 0;
					align-self: center;
					color: black;
				}
				p:hover {
					color: var(--purple);
				}
			}
		}
	}
}
.otherLinks {
	padding: u.rem(30) 5% u.rem(15);
	@include u.breakpoint(large) {
		padding: u.rem(15) 8% u.rem(30);
	}
	h4 {
		font-size: u.rem(28);
		color: var(--purple);
		@include u.breakpoint(large) {
			font-size: clamp(u.rem(12), u.rem(24) + 5vw, u.rem(32));
		}
	}
	p {
		a {
			font-weight: 600;
			font-size: u.rem(20);
			color: var(--purple);
		}
	}
}
