@use "../util/" as u;
.faq {
	h1 {
		margin: 0;
		padding: u.rem(20) 7%;
		font-weight: 700;
		font-size: clamp(u.rem(16), u.rem(24) + 2vw, u.rem(48));
		line-height: 58px;
		text-align: center;
		color: #ffffff;
		background-color: var(--purple);
	}
	&__questions {
		display: flex;
		flex-direction: column;
		align-items: center;
		.accordion {
			padding: u.rem(12) 0;
			width: 90%;
			border: none;
			text-align: center;
			outline: none;
			font-weight: 700;
			font-size: clamp(u.rem(12), u.rem(16) + 2vw, u.rem(20));
			line-height: u.rem(28);
			transition: 0.4s;
			border-bottom: 5px solid #000000;
			background-color: #ffffff;
			color: var(--purple);
			cursor: pointer;
			@include u.breakpoint(large) {
				padding: u.rem(8) 0;
				width: 80%;
				font-size: clamp(u.rem(12), u.rem(16) + 2vw, u.rem(24));
				line-height: u.rem(44);
			}
		}
		.accordion:last-of-type {
			font-size: clamp(u.rem(12), u.rem(16) + 2vw, u.rem(20));
			border-bottom: none;
			@include u.breakpoint(large) {
				font-size: clamp(u.rem(12), u.rem(16) + 2vw, u.rem(24));
			}
		}

		.active,
		.accordion:hover {
			background-color: #ffffff;
		}

		.accordion:after {
			display: flex;
			align-content: baseline;
			content: "\002B";
			color: var(--purple);
			font-weight: bold;
			float: right;
			margin-left: u.rem(5);
		}

		.active:after {
			content: "\2212";
			color: var(--purple);
		}

		.panel {
			width: 80%;
			padding: 0;
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.2s ease-out;
			background-color: white;
			@include u.breakpoint(large) {
				padding: 0 18px;
			}
			P {
				padding: u.rem(20) u.rem(5);
				font-weight: 500;
				font-size: clamp(u.rem(12), u.rem(14) + 2vw, u.rem(16));
				@include u.breakpoint(large) {
					padding: u.rem(24);
					font-size: clamp(u.rem(12), u.rem(16) + 2vw, u.rem(24));
				}
			}
		}
	}
}
