@use "../util/" as u;
.meeting {
	display: flex;
	flex-direction: column;
	margin-bottom: u.rem(20);
	background: rgb(255, 255, 255);
	background: linear-gradient(
		180deg,
		var(--purple) 25%,
		var(--background-color) 25%
	);
	&__times {
		display: grid;
		grid-template-columns: 1fr;
		margin: u.rem(20);
		margin-bottom: u.rem(20);
		border-radius: u.rem(10);
		border: 3px solid white;
		@include u.breakpoint(medium) {
			grid-template-columns: 1fr 1fr;
			margin: u.rem(40);
		}

		@include u.breakpoint(large) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			margin: 0 u.rem(40);
			@media (max-width: 1150px) {
				margin-left: u.rem(10);
				margin-right: u.rem(10);
			}
		}

		&__indiv {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			padding: 0 0;
			background-color: var(--purple);
			@include u.breakpoint(medium) {
				justify-content: center;
				flex-direction: column;
				padding: u.rem(25);
				align-items: baseline;
			}
			@include u.breakpoint(large) {
				padding: u.rem(50);
				@media (max-width: 1150px) {
					padding: u.rem(40);
				}
			}
			&.first {
				border-radius: u.rem(10) u.rem(10) 0 0;
				@include u.breakpoint(medium) {
					border-radius: u.rem(10) 0 0 0;
					border-right: 1.5px solid #ffffff;
					border-bottom: 1.5px solid #ffffff;
				}
				@include u.breakpoint(large) {
					border-radius: u.rem(10) 0 0 u.rem(10);
					border: none;
				}
			}
			&.second {
				@include u.breakpoint(medium) {
					border-radius: 0 u.rem(10) 0 0;
					border-top: none;
					border-left: 1.5px solid #ffffff;
					border-bottom: 1.5px solid #ffffff;
				}
				@include u.breakpoint(large) {
					border-radius: 0 0 0 0;
					border-bottom: none;
				}
			}
			&.third {
				@include u.breakpoint(medium) {
					border-radius: 0 0 0 u.rem(10);
					border-right: 1.5px solid #ffffff;
					border-top: 1.5px solid #ffffff;
				}
				@include u.breakpoint(large) {
					border-radius: 0 0 0 0;
					border-right: 1.5px solid #ffffff;
					border-top: none;
				}
			}
			&.last {
				border-radius: 0 0 u.rem(10) u.rem(10);
				@include u.breakpoint(medium) {
					border-radius: 0 0 u.rem(10) 0;
					border-left: 1.5px solid #ffffff;
					border-top: 1.5px solid #ffffff;
				}
				@include u.breakpoint(large) {
					border-radius: 0 u.rem(10) u.rem(10) 0;
					border-top: none;
				}
			}
			&.middle,
			&.last {
				@include u.breakpoints-down(small) {
					border-top: 3px solid #ffffff;
				}
				@include u.breakpoint(large) {
					border-left: 3px solid #ffffff;
				}
			}
			p,
			h4 {
				height: fit-content;
				align-self: center;
				text-align: center;
				justify-content: space-around;
				color: #ffffff;
			}
			p {
				margin: 0;
				min-width: u.rem(120);
				font-weight: 500;
				font-size: clamp(u.rem(5), u.rem(8) + 2vw, u.rem(24));
				line-height: 39px;
			}
			h4 {
				margin: 0;
				font-weight: 500;
				font-size: clamp(u.rem(12), u.rem(24) + 2vw, u.rem(64));
				line-height: 77px;
			}
		}
		@include u.breakpoint(medium) {
			flex-direction: row;
		}
	}
	&__info {
		display: flex;
		flex-direction: row;
		&__desc {
			display: flex;
			flex: 1;
			flex-direction: column;
			justify-content: flex-end;
			padding: u.rem(10) 15%;
			@include u.breakpoint(medium) {
				padding: u.rem(50) u.rem(0) u.rem(50) u.rem(50);
			}
			@include u.breakpoint(large) {
				padding: u.rem(50) u.rem(0) u.rem(50) 0;

				@media (max-width: 1150px) {
					padding-left: u.rem(75);
				}
				padding-left: clamp(u.rem(75), u.rem(75) + 15vw, u.rem(200));
			}
			h3 {
				margin-left: 0;
				font-weight: bold;
				font-size: clamp(u.rem(20), u.rem(24), u.rem(32));
				width: fit-content;
				line-height: u.rem(39);
				@include u.breakpoint(large) {
					margin-left: u.rem(20);
					font-size: clamp(u.rem(20), u.rem(28), u.rem(36));
				}
			}
			p {
				font-weight: 500;
				font-size: clamp(u.rem(14), u.rem(16), u.rem(24));
				line-height: u.rem(29);
				@include u.breakpoint(large) {
					margin-bottom: u.rem(5);
					font-size: clamp(u.rem(14), u.rem(20), u.rem(30));
				}
				span:nth-of-type(1) {
					font-weight: bolder;
					color: var(--purple);
				}
				span:nth-of-type(2) {
					font-size: u.rem(20);
					font-weight: 500;
					color: black;
				}
			}
			&__times {
				p {
					margin-bottom: u.rem(0);
					font-weight: 500;
					font-size: clamp(u.rem(14), u.rem(16), u.rem(20));
					@include u.breakpoint(large) {
						margin-bottom: u.rem(5);
						font-size: clamp(u.rem(14), u.rem(22), u.rem(30));
					}
				}
			}
			button {
				padding: u.rem(10);
				margin-top: u.rem(15);
				font-weight: 500;
				font-size: 16px;
				line-height: 19px;
				background-color: var(--purple);
				border: none;
				border-radius: 5px;
				box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
				color: #ffffff;
				cursor: pointer;
			}
		}
		&__img {
			display: flex;
			flex: 1;
			justify-content: flex-start;
			align-items: center;
			display: none;
			@include u.breakpoint(medium) {
				display: flex;
				picture {
					img {
						width: 85%;
					}
				}
			}
			@include u.breakpoint(large) {
				picture {
					img {
						width: min(100% - u.rem(20), 100%);
					}
				}
			}
		}
	}
}
