:root {
	//Primary Colors
	--background-color: hsl(0, 0%, 100%);
	--text-color: hsl(0, 0%, 11%);
	--text-color2: #686868;
	--footer: #686868;

	//Accent Colors
	--purple: hsl(300, 28%, 30%);
	--light-purple: hsl(300, 28%, 30%, 50%);
}
