@use "../util/" as u;
.charities {
	display: flex;
	flex-direction: column;
	h3 {
		text-align: center;
		margin: 0;
		padding-bottom: u.rem(20);
		font-weight: 600;
		font-size: u.rem(34);
		background-color: var(--purple);
		color: #ffffff;
		@include u.breakpoint(large) {
			font-size: u.rem(64);
		}
	}
	&__2022 {
		display: flex;
		flex-direction: column;
		margin-inline: auto;
		width: 100%;
		padding: u.rem(15) 0 u.rem(15);
		@include u.breakpoint(large) {
			width: 95%;
		}
		&__A,
		&__B {
			width: 95%;
			display: flex;
			flex-direction: column;
			margin-inline: auto;
			padding: u.rem(20) 0;
			border-bottom: 3px solid black;
			@include u.breakpoint(large) {
				width: 90%;
				flex-direction: row;
			}
			.picture {
				flex: 1;
				display: flex;
				picture {
					display: flex;
					flex-direction: column;
					justify-content: center;
					width: 100%;
					img {
						align-self: center;
						width: 90%;
						border: 3px solid black;
						@include u.breakpoint(medium) {
							width: 60%;
						}
						@include u.breakpoint(large) {
							width: 80%;
						}
					}
					figcaption {
						align-self: center;
						width: 90%;
						text-align: center;
						margin: u.rem(15) 0;
						font-weight: 500;
						font-size: u.rem(15);
						@include u.breakpoint(medium) {
							width: 60%;
						}
						@include u.breakpoint(large) {
							width: 80%;
						}
					}
				}
			}
			.orgs {
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				&__header,
				&__other {
					text-align: center;
					h4 {
						margin: u.rem(15);
						font-weight: 700;
						font-size: u.rem(24);
						color: black;
						@include u.breakpoint(large) {
							margin: u.rem(15);
							font-size: u.rem(30);
						}
					}
					a {
						flex: 1;
						text-align: center;
						font-weight: 500;
						font-size: u.rem(15);
						color: var(--text-color);
						@include u.breakpoint(large) {
							margin: u.rem(15);
							font-size: u.rem(20);
						}
						span {
							font-weight: 700;
							color: var(--purple);
						}
					}
					p:hover {
						cursor: pointer;
					}
				}
				&__header {
					a {
						font-weight: 700;
						font-size: u.rem(20);
						color: var(--purple);
						@include u.breakpoint(large) {
							font-size: u.rem(25);
						}
						span {
							font-weight: 700;
							color: var(--text-color);
						}
					}
				}
				&__other {
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					h4 {
						font-weight: 700;
						font-size: u.rem(23);
						color: black;
					}
				}
			}
		}
		&__A {
			@include u.breakpoint(large) {
				.picture {
					order: 1;
				}
				.orgs {
					order: 2;
				}
			}
		}

		&__B {
			.picture {
				order: 1;
			}
			.orgs {
				order: 2;
			}
			@include u.breakpoint(large) {
				.picture {
					order: 2;
				}
				.orgs {
					order: 1;
				}
			}
		}
		&__B:last-of-type {
			border-bottom: none;
		}
	}
	&__More {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: u.rem(15) u.rem(35);
		background-color: var(--purple);
		@include u.breakpoint(medium) {
			flex-direction: row;
			padding: u.rem(15) 0;
		}
		@include u.breakpoint(large) {
			flex-direction: row;
			padding: u.rem(15) 0;
		}

		p {
			margin: 0;
			text-align: center;
			font-weight: 600;
			font-size: u.rem(20);
			color: #ffffff;
			@include u.breakpoint(large) {
				font-size: u.rem(28);
			}
			@include u.breakpoint(xlarge) {
				font-size: u.rem(32);
			}
		}
		a {
			margin-left: u.rem(00);
			margin-top: u.rem(10);
			padding: u.rem(10);
			font-weight: 600;
			font-size: u.rem(15);
			border-radius: 0.25em;
			background-color: #ffffff;
			color: var(--purple);
			@include u.breakpoint(medium) {
				margin-left: u.rem(20);
				margin-top: u.rem(0);
				font-size: u.rem(20);
			}
			@include u.breakpoint(large) {
				font-size: u.rem(28);
			}
			@include u.breakpoint(xlarge) {
				margin-left: u.rem(40);
				font-size: u.rem(32);
			}
		}
	}
}
