@use "../util/" as u;
.charities {
	display: flex;
	flex-direction: column;
	&__2022 {
		display: flex;
		flex-direction: column;
		margin-inline: auto;
		width: 95%;
		padding: u.rem(15) 0 u.rem(15);
		border-bottom: 5px solid var(--purple);
		&__A,
		&__B {
			width: 90%;
			display: flex;
			flex-direction: row;
			margin-inline: auto;
			padding-bottom: u.rem(15);
			border-bottom: 3px solid black;
			.picture {
				flex: 1;
				margin-inline: auto;
				picture {
					display: flex;
					flex-direction: column;
					justify-content: center;

					img {
						align-self: center;
						width: 80%;
						border: 3px solid black;
					}
					figcaption {
						text-align: center;
						margin: u.rem(15) 0;
						font-weight: 500;
						font-size: u.rem(15);
					}
				}
			}
			.orgs {
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				&__header,
				&__other {
					text-align: center;
					p {
						flex: 1;
						text-align: center;
						font-weight: 500;
						font-size: u.rem(20);
						span {
							font-weight: 700;
							color: var(--purple);
						}
					}
					p:hover {
						cursor: pointer;
					}
				}
				&__header {
					h4 {
						font-weight: 700;
						font-size: u.rem(24);
						color: black;
					}
					p {
						font-weight: 700;
						font-size: u.rem(20);
						color: var(--purple);
					}
				}
				&__other {
					h4 {
						font-weight: 700;
						font-size: u.rem(20);
						color: black;
					}
				}
			}
		}
	}
}
